<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>640754872026-rao2gap2igfpk00ctlcdkeonqlbaats7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.640754872026-rao2gap2igfpk00ctlcdkeonqlbaats7</string>
	<key>API_KEY</key>
	<string>AIzaSyBdhwoIvj2ErxOWhiek_arG83ZK-ahQbAQ</string>
	<key>GCM_SENDER_ID</key>
	<string>640754872026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.varda.ToDoFire</string>
	<key>PROJECT_ID</key>
	<string>todofire-78f79</string>
	<key>STORAGE_BUCKET</key>
	<string>todofire-78f79.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:640754872026:ios:050570232672cab7e43fe3</string>
</dict>
</plist>